<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SmsService4XMLImplPortSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.18.2.244:8087/services/sms" binding="basicHttpBinding"
                bindingConfiguration="SmsService4XMLImplPortSoapBinding" contract="SendSMS.ISmsService4XML"
                name="SmsService4XMLImplPort" />
        </client>
    </system.serviceModel>
</configuration>